.loadingWrapper {
  padding-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 60px;
  height: 60px;
  border: 5px solid var(--black);
  border-top: 5px solid var(--red);
  border-radius: 50%;
  animation: loadingRotate .8s infinite linear;
}

@keyframes loadingRotate {
  to {
    transform: rotate(360deg);
  }
}
