@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500&display=swap');

:root {
  --background: #FCF8E8;
  --black: #302D2C;
  --red: #DF7861;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

.App {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--black);
}
